@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{
  var helpers = CreateInstance("_helpers.cshtml");
  var sliderStyleWidth = Text.Has(Content.Width) ? Content.Width : App.Settings.Width;
  var sliderStyleHeight = Text.Has(Content.Height) ? Content.Height : App.Settings.Height;
}

<link rel="stylesheet" href="@App.Path/node_modules/swiper/css/swiper.min.css" data-enableoptimizations="true">
<link rel="stylesheet" href="@App.Path/dist/styles.min.css" data-enableoptimizations="true">

<div @Edit.TagToolbar(Content, toolbar: new [] { "settings&hover=left&color=dimgray&autoAddMore=start" })>

  @* Slider main container and wrapper *@
  <div class="swiper-container swiper-@Dnn.Module.ModuleID" style="width: @sliderStyleWidth; height: @sliderStyleHeight">
    <div class="swiper-wrapper" data-swiper-autoplay="@(Content.AutoplayDelay ?? App.Settings.AutoplayDelay)">
      @* Slides *@
      @foreach (var slide in Content.Slides)
      {
        <div class="swiper-slide" @Edit.TagToolbar(slide, toolbar: new[] { "%layout&show=false", "%delete&show=true" } )>
          <div class="image-wrapper" style='background-image: url(@Tags.SafeUrl(slide.Image + "?w=1600&q=80"))'>
            <div class="container-fluid h-100">
              <div class="@helpers.RowClasses(slide)">
                <div class="@helpers.ContentClasses(slide)">
                @if(Text.Has(slide.Title)){
                  <p class="lead" data-swiper-parallax="-250">
                    @slide.Title
                  </p>
                }
                @if(Text.Has(slide.Text)){
                  <div class="co-slidertext" data-swiper-parallax="-500">
                    @Html.Raw(slide.Text)
                  </div>
                }
                @if(Text.Has(slide.LinkText)){
                  <div data-swiper-parallax="-750">
                    <a class="btn btn-primary" href="@Tags.SafeUrl(slide.Link)" target='(slide.LinkBlankTarget == true ? "_blank" : "")'>@slide.LinkText</a>
                  </div>
                }
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

    @* Pagination *@
    @if(Content.Pagination ?? App.Settings.Pagination) {
      <div class="swiper-pagination"></div>
    }

    @* Navigation buttons (right left arrows) *@
    @if(Content.Navigation ?? App.Settings.Navigation) {
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    }
  </div>
</div>

<script src="@App.Path/dist/libs/swiper.min.js" data-enableoptimizations="true"></script>
<script src="@App.Path/dist/scripts.min.js" data-enableoptimizations="true"></script>

<script>
  // Initialize the swiper which is identiifed by the ModuleId
  appSwiperInit(
    @Dnn.Module.ModuleID, 
    '@Content.Autoplay', 
    @(Text.Has(Content.Speed) ? Content.Speed : App.Settings.Speed),
    @Html.Raw(Content.Effect.Configuration),
    @Html.Raw(App.Settings.EffectFallback),
  );
</script>

